<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head'); %>
</head>

<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>

    <div class="container-fluid px-5 py-3">
        <h1>Add Student</h1>
        <form onsubmit="addStudent(); return false">
            <label for="fname"><b>First name:</b></label><br>
            <input type="text" id="fname" name="fname" required><br><br>

            <label for="lname"><b>Last name:</b></label><br>
            <input type="text" id="lname" name="lname" required><br><br>

            <label for="gpa"><b>GPA:</b></label><br>
            <input type="number" id="gpa" name="gpa" min="0" max="4" step="0.1" required><br><br>

            <label for="enrolled"><b>Currently enrolled?</b></label><br>
            <input type="radio" id="is-enrolled" name="enrolled" value="YES" required>
            <label for="is-enrolled">YES</label>
            <input type="radio" id="is-not-enrolled" name="enrolled" value="NO" required>
            <label for="is-not-enrolled">NO</label><br><br>

            <input type="submit" class="btn btn-dark"  value="Submit">

            <div id="response-message"></div>
        </form>
    </div>

    <!--AJAX request-->
    <script>
        function addStudent() {
            url = '/students';
            data = {
                fname: $("#fname").val(),
                lname: $("#lname").val(),
                gpa: $("#gpa").val(),
                enrolled: $("input[name='enrolled']:checked").val() == "YES" ? true : false
            };

            $.post(url, data, function (res, status, xhr) {
                $("#response-message").html(res.message);
            })
        }
    </script>
    
    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>
</body>

</html>