<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head'); %>
</head>

<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>

    <div class="container-fluid px-5 py-3">
        <h1>Delete Student</h1>
        <form onsubmit="deleteStudent(); return false">
            <label for="id"><b>Student ID:</b></label><br>
            <input type="text" id="id" name="id" required><br><br>

            <input type="submit" class="btn btn-dark" value="Submit">

            <div id="response-message"></div>
        </form>
    </div>

    <!--AJAX Request-->
    <script>
        function deleteStudent() {
            $.ajax({
                url: '/students/' + $("#id").val(),
                method: 'delete',
                success: function (res) {
                    $("#response-message").css('color', 'green');
                    $("#response-message").html("<b>" + res.message + "</b>");
                },
                error: function (xhr) {
                    $("#response-message").css('color', 'red');
                    $("#response-message").html("<b>" + xhr.responseJSON.message +"<b>");
                }
            })
        }
    </script>
    
    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>
</body>

</html>