<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head'); %>
</head>

<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>

    <div class="container-fluid px-5 py-3">
        <h1>Find Student</h1>
        <form onsubmit="findStudent(); return false">
            <label for="id"><b>Student ID:</b></label><br>
            <input type="text" id="id" name="id" required><br><br>

            <input type="submit" class="btn btn-dark"  value="Submit">

            <div id="response-message"></div><br><br>
            <div id="student-info-table" hidden>
                <table class="table table-striped table-light">
                    <thead>
                      <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">GPA</th>
                        <th scope="col">Currently Enrolled?</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id="student-info"></tr>
                    </tbody>
                  </table>
            </div>
        </form>
    </div>

    <!--AJAX Request-->
    <script>
        function findStudent() {
            $.ajax({
                url: '/students/' + $("#id").val(),
                method: 'get',
                success: function (res) {
                    //Clear contents of elements
                    $("#response-message").html('');
                    $("#student-info").html('');

                    //Hide table
                    $("#student-info-table").attr("hidden",true);

                    //If a matching student record was found, add its data to the table
                    if (res.fname != null) {
                        //Add info
                        $("#student-info").append("<td>" + res.fname + "</td>");
                        $("#student-info").append("<td>" + res.lname + "</td>");
                        $("#student-info").append("<td>" + res.gpa + "</td>");
                        boolToYesOrNo = res.enrolled === true ? "YES" : "NO";
                        $("#student-info").append("<td>" + boolToYesOrNo + "</td>");

                        //Show table
                        $("#student-info-table").attr("hidden",false);
                    }

                    //Else if a matching student record was not found, let the user know
                    else {
                        $("#response-message").css('color', 'green');
                        $("#response-message").html("<b>" + res.message + "</b>");
                    }

                },
                error: function (xhr) {
                    //Clear contents of both divs
                    $("#response-message").html('');
                    $("#student-info").html('');

                    //Hide table
                    $("#student-info-table").attr("hidden",true);

                    //Show error message
                    $("#response-message").css('color', 'red');
                    $("#response-message").html(xhr.responseJSON.message);
                }
            })
        }
    </script>

    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>
</body>

</html>