<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head'); %>
</head>

<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>

    <div class="container-fluid px-5 py-3">
        <h1>Welcome to the Student Registry!</h1>
        <p>Please select an option in the navbar above.</p><br>
        <p>This app was created by <b>Charles Seaman - Z23404804</b></p>
    </div>

    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>
</body>

</html>