<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head'); %>
</head>

<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>

    <div class="container-fluid px-5 py-3">
        <h1 class="text-center">All Students</h1>
        <form onsubmit="search(); return false">
            <div class="row justify-content-center">
                <div class="col-4">
                    <input type="text" id="fname" name="fname" class="form-control" placeholder="First name">
                </div>
                <div class="col-4">
                    <input type="text" id="lname" name="lname" class="form-control" placeholder="Last name">
                </div>
                <div class="col-1">
                    <input class="btn btn-dark" type="submit" value="Search">
                </div>
            </div>
        </form>
        <p class="text-center">
            Enter a first and/or last name to search for a student. Clicking the search bar with both fields empty
            lists
            all students.
        </p>
        <div class="py-3" id="all-student-info"></div>
    </div>

    <script>
        function search() {
            $.ajax({
                url: '/students',
                method: 'get',
                data: {
                    fname: $("#fname").val(),
                    lname: $("#lname").val()
                },
                success: function (res) {
                    //Clear div contents
                    $("#all-student-info").html('');

                    //Show new info
                    if (res.length == 0) {
                        $("#all-student-info").append("<b>" + "No student record matching query." + "</b>");
                        return;
                    }
                    count = 1;
                    res.forEach(student => {
                        $("#all-student-info").append("<h3>" + "Student # " + count + "</h3>");
                        $("#all-student-info").append("<p>" + "<b>First name: </b>" + student.fname + "</p>");
                        $("#all-student-info").append("<p>" + "<b>Last name: </b>" + student.lname + "</p>");
                        $("#all-student-info").append("<p>" + "<b>GPA: </b>" + student.gpa + "</p>");
                        boolToYesOrNo = student.enrolled === true ? "YES" : "NO";
                        $("#all-student-info").append("<p>" + "<b>Currently enrolled: </b>" + boolToYesOrNo + "</p><br><br>");
                        count++;
                    });
                },
                error: function (xhr) {
                    //Clear div contents
                    $("#all-student-info").html('');

                    //Show new info
                    $("#all-student-info").html(xhr.responseJSON.message);
                }
            })
        }
    </script>

    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>
</body>

</html>