<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head'); %>
</head>

<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>

        <div class="container-fluid px-5 py-3">
        <h1>All Students</h1>
        <div id="all-student-info"></div>
    </div>

    <script>
        $(document).ready(() => {
            $.ajax({
                url: '/students',
                method: 'get',
                success: function (res) {
                    if(res.students.length == 0) {
                        $("#all-student-info").append("<b>" + res.message + "</b>");
                        return;
                    }
                    count = 1;
                    res.students.forEach(student => {
                        $("#all-student-info").append("<h3>" + "Student # " + count + "</h3>");
                        $("#all-student-info").append("<p>" + "<b>First name: </b>" + student.fname + "</p>");
                        $("#all-student-info").append("<p>" + "<b>Last name: </b>" + student.lname + "</p>");
                        $("#all-student-info").append("<p>" + "<b>GPA: </b>" + student.gpa + "</p>");
                        boolToYesOrNo = student.enrolled === true ? "YES" : "NO";
                        $("#all-student-info").append("<p>" + "<b>Currently enrolled: </b>" + boolToYesOrNo + "</p><br><br>");
                        count++;
                    });
                },
                error: function (xhr) {
                    $("#all-student-info").html(xhr.responseJSON.message);
                }
            })
        });
    </script>
    
    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>
</body>

</html>