<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head'); %>
</head>

<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>

    <div class="container-fluid px-5 py-3">
        <h1 class="text-center">All Students</h1>
        <form onsubmit="search(); return false">
            <div class="row justify-content-center">
                <div class="col-4">
                    <input type="text" id="fname" name="fname" class="form-control" placeholder="First name">
                </div>
                <div class="col-4">
                    <input type="text" id="lname" name="lname" class="form-control" placeholder="Last name">
                </div>
                <div class="col-1">
                    <input class="btn btn-dark" type="submit" value="Search">
                </div>
            </div>
        </form>
        <p class="text-center">
            Enter a first and/or last name to search for a student. Clicking the search bar with both fields empty
            lists
            all students.
        </p>
        <div class="text-center" id="response-message"></div><br><br>
        <div class="py-3" id="all-student-info-table" hidden>
            <table class="table table-striped table-light">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">GPA</th>
                        <th scope="col">Currently Enrolled?</th>
                    </tr>
                </thead>
                <tbody id="all-student-info"></tbody>
            </table>
        </div>
    </div>

    <script>
        function search() {
            $.ajax({
                url: '/students',
                method: 'get',
                data: {
                    fname: $("#fname").val(),
                    lname: $("#lname").val()
                },
                success: function (res) {
                    //Clear element contents
                    $("#response-message").html('');
                    $("#all-student-info").html('');

                    //Hide table
                    $("#all-student-info-table").attr("hidden", true);

                    //If the response was succesful but no data was found
                    if (res.length == 0) {
                        var query = $("#fname").val() + " " + $("#lname").val();
                        $("#response-message").css('color', 'green');
                        $("#response-message").append("<b>" + `No student record matching query: ${query}` + "</b>");
                        return;
                    }

                    //Else if the response was succesful and data was found
                    else {
                        //Populate the table with the response data
                        res.forEach((student, index) => {
                            //Create new empty table row
                            var row = $("<tr>")

                            //Add data to the table row
                            $(row).append("<td>" + `${index + 1}` + "</td>");
                            $(row).append("<td>" + student._id + "</td>");
                            $(row).append("<td>" + student.fname + "</td>");
                            $(row).append("<td>" + student.lname + "</td>");
                            $(row).append("<td>" + student.gpa + "</td>");
                            boolToYesOrNo = student.enrolled === true ? "YES" : "NO";
                            $(row).append("<td>" + boolToYesOrNo + "</td>");

                            //Append it to the table
                            $("#all-student-info").append(row);
                        });

                        //Show table
                        $("#all-student-info-table").attr("hidden", false);
                    }

                },
                error: function (xhr) {
                    //Clear element contents
                    $("#response-message").html('');
                    $("#all-student-info").html('');

                    //Hide table
                    $("#all-student-info-table").attr("hidden", true);

                    //Show error message
                    $("#response-message").css('color', 'red');
                    $("#response-message").html(xhr.responseJSON.message);
                }
            })
        }
    </script>

    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>
</body>

</html>